@font-face {
  font-family: "CSRockyRegular";
  src: url("./CSRockyRegular.woff2");
}

@font-face {
  font-family: "MYRIADPROREGULAR";
  src: url("./MYRIADPROREGULAR.woff2");
}

@font-face {
  font-family: "MYRIADPROBOLD";
  src: url("./MYRIADPROBOLD.woff2");
}
